.skills_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#15023a;
}
.skills_container h1{
    font-size: 50px;
}
.skills{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill_item{
    width: 200px;
    height: 220px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
}
.skill_item img{
    width:1;
    height:100px;
    object-fit: cover;
    z-index: 1;
}